<div>
    <div class="row">
        <h3>Create New User</h3>
    </div>

    <div class="row">
        <form ng-submit="save()">

            <div class="form-group">
                <label>Username</label>
                <input ng-model="user.username" type="text" class="form-control" placeholder="Username">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input ng-model="user.password" type="password" class="form-control" placeholder="Password">
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input ng-model="user.password" type="password" class="form-control" placeholder="Confirm Password">
            </div>

            <div class="form-group">
                <label>Email address</label>
                <input ng-model="user.email" type="email" class="form-control" placeholder="Email">
            </div>

            <div class="row form-group">
                <div class="col-md-12"><label>Name</label></div>
                <div class=" col-md-2"><input ng-model="user.title" type="text" class="form-control" placeholder="Title"></div>
                <div class="col-md-5"><input ng-model="user.firstname" type="text" class="form-control" placeholder="Firstname"></div>
                <div class="col-md-5"><input ng-model="user.lastname" type="text" class="form-control" placeholder="Lastname"></div>
            </div>

            <div class="form-group">
                <label>Organization</label>
                <input ng-model="user.organization" type="text" class="form-control" placeholder="Organization">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" ui-sref="list" class="btn btn-default">Cancel</button>
            </div>

        </form>
    </div>
</div>